<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        {% block stylesheet %}
          <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/profile_styles.css') }}"/>
        {% endblock stylesheet %}

        {% if user %}
            <div class="user_info_container">
                <div class="generic_container">
                    <p>Welcome {{user_id}}</p>
                </div>
            </div>
        {% else %}
            <div class="generic_container">
                <p>You haven't logged in yet. <a href="{{ url_for('auth.login') }}">Login</a> <br> <a href="{{ url_for('auth.signup') }}">Sign Up</a> </p>
            </div>
        {% endif %}

</body>
</html>