<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
</head>
<body>

        {% block stylesheet %}
            <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/forms_styles.css') }}"/>
        {% endblock stylesheet %}
        <div class="form_container">
            <img class="close_form_img" src="/static/images/ic_close.svg" onclick="window.location.href='{{ url_for( 'main.index' ) }}';">
            <div class="container">
                <div class="form_header">
                    <p>Sign Up</p>
                </div>
                <div class="form_body">
                    <form class="the_form">
                        <div class="input_container">
                            <input type="text" placeholder="Name" name="name">
                        </div>
                        <div class="input_container">
                            <input type="email" placeholder="Email Address" name="email_address">
                        </div>
                        <div class="input_container">
                            <input type="password" placeholder="Password" name="password">
                        </div>

                        <input type="submit" value="Sign Up" class="submit_btn">
                    </form>
                </div>
                <div class="form_footer">
                    <p>Have an account? <a href="{{ url_for('auth.login') }}">Login</a></p>
                </div>
            </div>
        </div>

</body>
</html>