{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
     <div class="block_container">
        <p><br></p>
        {% if pitches_list is defined and pitches_list|length > 0 %}
            <div class="list">
                {{ macro.populate_pitches(pitches_list) }}
            </div>
        {% else %}
            <p class="informative_text">No pitches in this category.<br>Create the <a href="{{url_for( 'main.new_pitch' )}}">first pitch</a></p>
        {% endif %}
    </div>
{% endblock %}