{% extends 'base.html' %}

{% block content %}
    <div class="block_container">
        <p><br></p>
        <div class="list">
            <div class="pitch_item_container">
            <p class="pitch_text_el">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa magni porro, dignissimos incidunt eligendi nisi voluptatibus perspiciatis doloribus, reiciendis quia molestiae commodi ipsum fugit sit fuga, quisquam veniam temporibus. Cupiditate.</p>
            <div class="pitch_item_actions_container">
                <div class="pitch_item_voting_opts_container">
                    <div class="vote_opt_container">
                        <img src="/static/images/ic_up_vote.svg" alt="Upvote the pitch">
                        <p>5</p>
                    </div>
                    <div class="vote_opt_container">
                        <img src="/static/images/ic_down_vote.svg" alt="Down-vote the pitch">
                        <p>2</p>
                    </div>
                </div>
                <div class="pitch_item_comment_opts_container">
                    <div class="vote_opt_container">
                        <img src="/static/images/ic_comments.svg" alt="Comment on the pitch">
                        <p>1</p>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
        </div>
            <div class="pitch_item_container">
            <p class="pitch_text_el">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa magni porro, dignissimos incidunt eligendi nisi voluptatibus perspiciatis doloribus, reiciendis quia molestiae commodi ipsum fugit sit fuga, quisquam veniam temporibus. Cupiditate.</p>
            <div class="pitch_item_actions_container">
                <div class="pitch_item_voting_opts_container">
                    <div class="vote_opt_container">
                        <img src="/static/images/ic_up_vote.svg" alt="Upvote the pitch">
                        <p>5</p>
                    </div>
                    <div class="vote_opt_container">
                        <img src="/static/images/ic_down_vote.svg" alt="Down-vote the pitch">
                        <p>2</p>
                    </div>
                </div>
                <div class="pitch_item_comment_opts_container">
                    <div class="vote_opt_container">
                        <img src="/static/images/ic_comments.svg" alt="Comment on the pitch">
                        <p>1</p>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </div>
{% endblock %}